.full-post-wrapper {
    width: 60%;
    align-items:center;
    margin: 10px 0px;
    box-shadow: 0 4px 3px -2px rgb(54, 54, 54);
}

@media(max-width: 992px) {
    .full-post-wrapper {
        width: 90%;
        box-shadow: 0 4px 0px -2px rgb(54, 54, 54);
    }
  }