.text-wrapper {
    text-align: center;
}

.home-post-wrapper {
    width: 60%;
    align-items:center;
    margin: 10px 0px;
}

@media(max-width: 992px) {
    .home-post-wrapper  {
        width: 90%;
    }
  }