.add-post-wrapper {
    width: 60%;
}
.textarea {
    width: 80%;
    min-height: 300px;
    outline:none;
    resize: none;
}

.input-title {
    width: 80%;
    border-top: none;
    border-left: none;
    border-right: none;
    /* border-bottom: 1px splid black; */
    padding: 10px 0px;
    outline:none;
}

.input-title:active {
    border: none;
}

.add-post-button {
    margin: 10px 0px;
}

.addpost-button-save,
.addpost-button-exit {
    margin: 10px;
}

@media(max-width: 992px) {
    .add-post-wrapper {
        width: 90%;
    }

    .textarea {
        width: 100%;
    }

    .input-title {
        width: 100%;
    }

    .add-post-img-wrapper {
        width: 200px;
        height: 200px;
        margin: 10px 0px;
        border-radius: 3px;
    }

    .add-post-img-wrapper img {
        width: 100%;
    }
  }