* {
    /* list-style: none; */
    margin: 0;
    padding: 0;
    text-decoration: none;
}

/* html, body {width:100%; overflow-x:hidden} */

a {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}

button {
    border: none;
}

.post-wrapper {
    border-bottom: 1px solid rgb(131, 131, 131);
    max-width: 100%;
}

.all-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}